!/vendor/
/vendor/*
!/vendor/.htaccess

!/cache/
/cache/*
!/cache/.htaccess

!/config/
/config/*
!/config/.htaccess

!/logs/
/logs/*
!/logs/.htaccess

!/proxy/
/proxy/*
!/proxy/.htaccess

/nbproject/

/config.php
/composer.lock

.DS_Store